# 02 - Nazione delle squadre

In [1]:
import pandas as pd
from pandas import read_csv
import numpy as np

In [4]:
df1 = read_csv('tables/nome_squadra.csv')
df1.head()

            nome                 squadra
0  Kylian Mbappé  FC Paris Saint-Germain
1         Neymar  FC Paris Saint-Germain
2   Lionel Messi           FC Barcellona
3  Mohamed Salah            FC Liverpool
4     Harry Kane       Tottenham Hotspur

In [6]:
df2 = read_csv('tables/squadra_nazione.csv', encoding='ansi')
df2.head()

              Squadra Nazione
0       FC Barcellona  Spagna
1      Real Madrid CF  Spagna
2  Atlético de Madrid  Spagna
3         Valencia CF  Spagna
4         FC Siviglia  Spagna

In [9]:
df2.index = df2.Squadra
df2.drop('Squadra',axis=1,inplace=True)
df2.head()

                   Nazione
Squadra
FC Barcellona       Spagna
Real Madrid CF      Spagna
Atlético de Madrid  Spagna
Valencia CF         Spagna
FC Siviglia         Spagna

In [10]:
df3 = df1.join(df2, on='squadra')
df3.head()

            nome                 squadra      Nazione
0  Kylian Mbappé  FC Paris Saint-Germain      Francia
1         Neymar  FC Paris Saint-Germain      Francia
2   Lionel Messi           FC Barcellona       Spagna
3  Mohamed Salah            FC Liverpool  Inghilterra
4     Harry Kane       Tottenham Hotspur  Inghilterra

In [11]:
df3.to_csv('columns/nazione_squadra.csv', index=False, encoding='ansi')