# 05 - Instagram Hashtag

Quante foto hanno come **#hashtag** il nome di un calciatore?

In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from requests import get
from unidecode import unidecode
import re
from time import sleep

In [3]:
def f(x):
    return unidecode(x).replace(' ', '').replace('-','').replace("'", '').lower()

In [5]:
dfNames = pd.read_csv('tables/nome_nomechiave.csv')
dfNames['nome2'] = dfNames['nome_chiave'].apply(f)
dfNames.head()

            nome nome_chiave      nome2
0  Kylian Mbappé      Mbappé     mbappe
1         Neymar      Neymar     neymar
2      Leo Messi       Messi      messi
3  Mohamed Salah       Salah      salah
4     Harry Kane  Harry Kane  harrykane

In [4]:
dfNames['hashtag_tot'] = np.nan

In [ ]:
i = 0
for n in dfNames.nome2:
    if dfNames.hashtag_tot[i] > 0:
        i += 1
    else:
        try:
            url = 'https://www.instagram.com/explore/tags/'+ n +'/'
            page = get(url).text
            dfNames.iloc[i,-1] = int(re.findall('"edge_hashtag_to_media":{"count":+(\d+)', page)[0])
            i += 1
            sleep(3)
        except:
            i += 1
#     print(i-1,dfNames.nome[i-1])

In [10]:
sum(dfNames.hashtag_tot.isnull())

0

In [11]:
dfNames.to_csv('columns/insta_hashtags.csv', encoding='ansi', index=False)