# 07 - Kicker Data

In [1]:
from requests import get
from pandas import read_csv
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as BS
from time import sleep
from unidecode import unidecode

In [13]:
df = read_csv('tables/nome_nomechiave.csv', encoding='ansi')
df['nome_chiave_link'] = [x.replace(' ', '+').replace('-','+').lower() for x in df['nome_chiave']]
s1 = 'http://www.kicker.de/home/24-09-1970/24-12-2018/0-1100-31000-37000-36000-39000-33000-22000-508024-1200-1000-/25/0/0/suchergebnisseartikel.html?suchbegriff='
s2 = 'http://www.kicker.de/home/01-01-2018/24-12-2018/0-1100-31000-37000-36000-39000-33000-22000-508024-1200-1000-/25/0/0/suchergebnisseartikel.html?suchbegriff='
df['urls_all'] = [s1+x for x in df.nome_chiave_link]
df['urls_18'] = [s2+x for x in df.nome_chiave_link]
df['kicker_all'] = np.nan
df['kicker_18'] = np.nan
df = df[['nome', 'urls_all', 'urls_18', 'kicker_all', 'kicker_18']]
df.head(10)

,nome,urls_all,urls_18,kicker_all,kicker_18
0,Kylian Mbappé,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
1,Neymar,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
2,Leo Messi,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
3,Mohamed Salah,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
4,Harry Kane,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
5,Antoine Griezmann,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
6,Kevin De Bruyne,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
7,Philippe Coutinho,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
8,Eden Hazard,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN
9,Paulo Dybala,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,NaN,NaN

In [3]:
for i in range(300):
    url1 = df.urls_all[i]
    url2 = df.urls_18[i]
    
    if isinstance(df.kicker_google_all[i], float):
        page = get(url1).text
        result1 = BS(page, 'lxml').find('div', attrs={'class': 'suchdachzeile'}).text
        df.loc[i,'kicker_all'] = result1
    else:
        pass
    
    if isinstance(df.kicker_google_18[i], float):
        page = get(url2).text
        result2 = BS(page, 'lxml').find('div', attrs={'class': 'suchdachzeile'}).text
        df.loc[i,'kicker_18'] = result2
    else:
        pass
    
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299

In [9]:
def f(x):
    return x.split(' ')[0]

In [10]:
df['kicker_all'] = df['kicker_all'].apply(f)

In [20]:
df['kicker_18'] = df['kicker_18'].apply(f)

In [21]:
df.head()

,nome,urls_all,urls_18,kicker_all,kicker_18
0,Kylian Mbappé,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,282,154
1,Neymar,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,1289,221
2,Leo Messi,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,2595,291
3,Mohamed Salah,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,552,205
4,Harry Kane,http://www.kicker.de/home/24-09-1970/24-12-201...,http://www.kicker.de/home/01-01-2018/24-12-201...,313,128

In [23]:
df.iloc[:,-2:].to_csv('columns/kicker_data.csv', index=False)